.notes-viewer {
  height: 100%;
  width: 100%;

  &--is-loading {
    opacity: 0.5;
  }

  &__selected-note-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  h1, h2, h3, h4, h5, h6, p, ul, ol {
    &:first-child {
      margin-top: 0;
    }
  }
}
