@import '../../vars';

.notes-app {
  display: grid;
  grid-template-columns: 450px minmax(0px, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "header header"
  "sidebar note";
  grid-gap: 20px;
  min-height: 100vh;

  .notes-list {
    grid-area: sidebar;
  }
}
