/**
 * Font families
 */
$font-fallback: "Helvetica", "Arial", sans-serif;
$body-font-family: "Work Sans", $font-fallback;

/**
 * Padding
 */
$content-gutter-sm: 8px;
$content-gutter-md: 16px;
$content-gutter-lg: 32px;

:root {
  --background-color: white;
  --background-accent-color: #{rgba(black, 0.08)};
  --text-color: black;
  --input-color: black;
  --input-background-color: #{rgba(white, 1)};
  --input-border-color: #{rgba(black, 0.3)};

  &[data-theme="dark"] {
    --background-color: rgb(25, 24, 24);
    --background-accent-color: #{rgba(white, 0.045)};
    --text-color: white;
    --input-color: white;
    --input-background-color: #{rgba(white, 0.03)};
    --input-border-color: #{rgba(white, 0.05)};
  }
}





$brand-primary: #02847a;
$brand-danger: #84070f;

$header-background-color: rgb(25, 24, 24);
$background-color: var(--background-color, #fff);
$background-accent-color: var(--background-accent-color, #fff);

$text-color: var(--text-color, #000);

$input-color: var(--input-color);
$input-background-color: var(--input-background-color);
$input-border-color: var(--input-border-color);
